html{
    margin: 0;
    min-height: 100%;
}

body{
    margin: 0;
    min-height: 100vh;
    font-family: 'Pixelify Sans', sans-serif;
}

.welcome{
    display: grid;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(32, 32, 32), rgb(29, 28, 28), rgb(0, 0, 0));
    width: 100vw;
    height: 100vh;
    z-index: 1;
    grid-area: 1 / 1;
}

#title{
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.781);
    position: relative;
    bottom: 30px;
    left: 70px;
}

#cat-with-eyes{
    position: relative;
    left: 500px;
    bottom: -10px;
}

.pupil {
    position: absolute;
    width: 20px;
    height: 50px;
    border-radius: 50%;
    background-image: linear-gradient(to top, rgb(17, 17, 17), rgb(0, 0, 0), rgb(0, 0, 0));
    border: thin solid;
}

#sign{
    position: relative;
    bottom: 200px;
    right: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#pass-field{
    background: none;
    border: thin solid rgba(255, 255, 255, 0.781);
    border-radius: 10px;
    height: 5vh;
    width: 20vw;
    padding-left: 10px;
    color: rgba(255, 255, 255, 0.781);
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 1rem;
}

#enter-os{
    background: none;
    border: thin solid rgba(255, 255, 255, 0.781);
    border-radius: 10px;
    height: 7vh;
    width: 10vw;
    color:rgba(255, 255, 255, 0.781);
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 1rem;
    margin-top: 2vh;
}

#enter-os:hover{
    color:rgba(107, 106, 106, 0.781);
    background-color: rgba(0, 0, 0, 0.068);
}

#pass-title{
    position: relative;
    right: 95px;
    color:rgba(255, 255, 255, 0.781);
    font-size: 1.2rem;
}

#pass-note{
    color:rgba(168, 168, 168, 0.781);
    font-size: 0.7rem;
    text-decoration: underline;
}

.os{
    display: grid;
    position: relative;
}

#wallpaper{
    display: grid;
    z-index: 1;
    grid-area: 1 / 1;

}

#cat{
    grid-area: 1 / 1;
    z-index: 2;
    margin: auto;  
    margin-top: 40vh;
    border: solid;
    border-width: 5px;
    border-radius: 1000px;
    padding: 3vh;
    border-color: rgb(24, 24, 24);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(rgb(32, 32, 32), rgb(29, 28, 28), rgb(0, 0, 0));
}

#bg{
    grid-area: 1 / 1;
    z-index: 1;
}

.bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 8vh;
    backdrop-filter: blur(10px);
    background-color: rgba(116, 116, 116, 0.164);
    z-index: 4;
}

#logout{
    border:rgba(255, 255, 255, 0.781);
    border-radius: 100px;
    height: 6vh;
    width: 6vh;
    margin: 1vh;
    background-color: rgba(5, 5, 5, 0.267);
}

#logout:hover{
    background-color: rgba(5, 5, 5, 0.637);
}

#logout-img{
    margin: 1vh;
}

#time{
    margin-right: 1.5vh;
    text-decoration: underline;
    color: rgb(26, 25, 25);
}

.screen{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
    height: 100vh;
    z-index: 2;
    grid-area: 1/1;
    background-color: transparent;
    padding: 70px;
}

#warning{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid;
    height: 55vh;
    width: 100vh;
    background-color: #424242ce;
    z-index: 3;
}

#warningheader{
    padding: 30px;
    cursor: move;
    background-color: #050505ce;
    color: rgba(255, 255, 255, 0.781);
}

#warning-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#warning-buttons{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center flex-end;
}

#warning-text{
    font-size: 2rem;
    height: 20vh;
}

.button{
    height: 10vh;
    width: 30vh;
    position: relative;
    background-color: #2e2e2ece;
    border-color: transparent;
    border-radius: 5px;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 1.5rem;
}

.button:hover{
    background-color: rgba(5, 5, 5, 0.637);
}

.apps{
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 15px; 
}

#welcome-app{
    background-color: transparent;
    border-color: transparent;
    position: relative;
}

#welcome-app:hover{
    background-color: rgba(34, 34, 34, 0.637);
}

.app{
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 180vh;
    border: solid;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.781);
    overflow:auto;
}

#appheader{
    padding: 20px;
    cursor: move;
    background-color: #050505ce;
    color: rgba(255, 255, 255, 0.781);
}

#app-content{
    flex: 1; 
    overflow-y: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.close{
    font-family: 'Pixelify Sans', sans-serif;
}

#app-title{
    text-align: center;
    width: 100%;
    font-size: 3rem;
}